model_config_list {
    config {
        name: "iris"
        base_path: "/models/iris"
        model_platform: "tensorflow"
        model_version_policy{
            specific{
                versions:1
            }
        }
    },
    config {
        name: "flowers"
        base_path: "/models/flowers"
        model_platform: "tensorflow"
        model_version_policy{
            specific{
                versions:1
            }
        }
    }
}